@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #282C33;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282C33;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #282C33;
  font-family: "Fira Code";
}


@layer components{
  .card {
    @apply bg-white p-4 rounded-lg shadow-md;
  }
 
}